name: Publish compiled jar to GitHub releases
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build jar
        run: mvn --batch-mode --update-snapshots verify
      - name: Move generated jar file
        run: mv target/Cheaty-*.jar Cheaty.jar
      - name: Create Release
        if: github.event_name != 'pull_request' && (github.ref == 'refs/heads/main')
        uses: softprops/action-gh-release@v2
        with:
          tag_name: Cheaty-${{github.sha}}
          name: Release ${{github.sha}}
          files: Cheaty.jar
